@font-face {
    font-family:alex brush;
    src: url('https://fonts.googleapis.com/css?family=Alex Brush');
  }
  



body {
    margin:0;
    background: url(img/background.png) no-repeat fixed center;
    background-size: 2000px;    
}

h1 {
    font-family: alex brush;
    font-size: 32px;


}






.flex {
    display:flex;
    width:100vw;
    height:100vh;
    flex-direction: row;
    align-content:center;
    justify-content: space-around;


}

.nav {
    width: 15vw;
    height:100vh;
    background-color:rgba(255, 255, 255, 0.89);
    position:fixed;
    left:0;
    padding:10px;
    padding-top:50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;                                                                    ;
    
}

.content {
    width: 85vw;
    height:100vh;
    background-color:rgb(225, 207, 207);
    position:absolute;
    left:15vw;
    padding:30px;
    padding-top:20px;
}